body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background: linear-gradient(135deg,#9600ff,#aebaf8);
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  border: transparent;
  height: 400px;
  width: 700px;
  border-radius: 20px;
  background:linear-gradient(135deg,#f6ea41,#f048c6) ;
}

.msgbox{
    height: 100px;
    border: 2px solid white;
    background-color: aliceblue;
    color: black;
    height: 250px;
    width: 400px;

}


input{
    width: 350px;
    height: 30px;
    border: 2px solid transparent;
    background-color: rgb(194, 194, 194);
    color: white;

}
input {
    font-size: large;
    text-decoration: border;
}


#sub{
    height: 40px;
    width: 100px;
    font-size: large;
    border: 2px solid black;
    border-radius: 20px;
}
h1{
    color: white;
    animation: cc 12s infinite alternate-reverse;
    font-size: 50px;
    border: 2px solid black;
    background-color: aliceblue;

}

@keyframes cc{
    10%{color: bisque;}
    20%{color: greenyellow;}
    40%{color: chocolate;}
    60%{color: rgb(235, 58, 58);}
    80%{color: slateblue;}
    100%{color: violet;}
}

#showmsg{
    background-color: aliceblue;
    width: 700px;
    height: 50px;
    margin-top: 20px;
   
    border: 4px solid black;
    border-radius:10px;
    /* text-align: center; */
    display: flex;justify-content: center;
    align-items: center;
    /* font-size: 30px; */

}
#finalmsg{
    font-size: 20px;
    /* margin-top: 0; */
    /* text-align: center; */
}
button{
    height: 34px;

    
}